<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>買い物</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <p>daughter</p>
        <table>
            <tr>
                <th>商品名</th>
                <th>個数</th>
                <th>詳細</th>
                <th>期限</th>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>
                    <select onchange="updateStatus({{ item[0] }}, this.value)">
                        <option value="0" {% if item[5] == 0 %}selected{% endif %}>未対応</option>
                        <option value="1" {% if item[5] == 1 %}selected{% endif %}>A</option>
                        <option value="2" {% if item[5] == 2 %}selected{% endif %}>B</option>
                        <option value="3" {% if item[5] == 3 %}selected{% endif %}>C</option>
                        <option value="4" {% if item[5] == 4 %}selected{% endif %}>対応済み</option>
                    </select>
                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="/">戻る</a>

        <script>
            async function updateStatus(id, status) {
                const response = await fetch(`/item/${id}/status`, {
                    method: "PUT",

                    headers: {
                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify({
                        status: Number(status)
                    })
                });

                if(response.ok) {
                    console.log("更新成功");
                }
            }
        </script>
    </body>
</html>