<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>買い物</title>
    </head>
    
    <body>
        <p>grandma</p>
        <p id="message"></p>
        <form id="item-form", method="post">

            <label>商品名</label>
            <input type="text", id="name", required>

            <label>数量</label>
            <input type="number", id="num", value="1", required>

            <label>詳細</label>
            <input type="text", id="details">

            <label>いつまでに欲しいか</label>
            <input type="date", id="deadline", required>

            <button type="submit", formaction="/item">送信</button>
        </form>

        <a href="/">戻る</a>
        <script>
            const form = document.getElementById("item-form");

            form.addEventListener("submit", async function(event) {

                event.preventDefault();

                const item = {
                    name: document.getElementById("name").value,
                    num: document.getElementById("num").value,
                    details: document.getElementById("details").value,
                    deadline: document.getElementById("deadline").value
                };

                const response = await fetch("/item", {
                    method: "POST",

                    headers: {
                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify(item)
                });

                if (response.ok) {
                    document.getElementById("message").textContent = "送信できました";
                }

                const result = await response.json();

                consle.log(result);

                
                
            });

            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, "0");
            const day = String(today.getDate().padStart(2, "0"));

            document.getElementById("deadline").value = 
                `${year}-${month}-${day}`;
        </script>
    </body>
</html>