<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <p>grandma</p>
        <p id="message"></p>
        <form id="item-form", method="post">

            <label>商品名</label>
            <input type="text", id="name", name="name", required>

            <label>数量</label>
            <input type="number", id="num", value="1", name="num" required>

            <label>詳細</label>
            <input type="text", id="details", name="details">

            <label>いつまでに欲しいか</label>
            <input type="date", id="deadline", name="deadline" required>

            <button type="submit", formaction="/item">送信</button>
        </form>

        <table>
            <tr>
                <th>商品名</th>
                <th>個数</th>
                <th>詳細</th>
                <th>期限</th>
                <th>状況</th>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>
                    {% if item[5] == 0 %}
                        未対応
                    {% elif item[5] == 1 %}
                        A
                    {% elif item[5] == 2 %}
                        B
                    {% elif item[5] == 3 %}
                        C
                    {% elif item[5] == 4 %}
                        D
                    {% endif %}
                </td>

                <td>
                    <button type="button" onclick="deleteItem({{ item[0] }})">
                        削除
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="/">戻る</a>
        <script>
            const form = document.getElementById("item-form");

            form.addEventListener("submit", async function(event) {

                event.preventDefault();

                const item = {
                    name: document.getElementById("name").value,
                    num: document.getElementById("num").value,
                    details: document.getElementById("details").value,
                    deadline: document.getElementById("deadline").value
                };

                const response = await fetch("/item", {
                    method: "POST",

                    headers: {
                        "Content-Type": "application/json"
                    },

                    body: JSON.stringify(item)
                });

                if (response.ok) {
                    window.location.reload();
                }

                const result = await response.json();

                console.log(result);

                
                
            });

            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, "0");
            const day = String(today.getDate()).padStart(2, "0");

            document.getElementById("deadline").value = 
                `${year}-${month}-${day}`;

            async function deleteItem(id) {
                console.log("削除するID： ", id);

                if(!confirm("この商品を削除しますか？")) {
                    return;
                }

                const response = await fetch(`/item/${id}`, {
                    method: "DELETE"
                });

                console.log("レスポンス: ", response.status);

                if(response.ok){
                    window.location.reload();
                }
            }

            form.addEventListener("keydown", function(event) {
                if(event.key == "Enter") {
                    event.preventDefault();
                }
            });
        </script>
    </body>
</html>